/*!
 * Project_Name: Kabarak iHub Site
 * Author: Sunday, liberegat, Salma, Phil
 * Email: kabuihub@gmail.com
 * URL: http://kabuihub.cf/
 */

// Importing CSS Libraries

@import		"libs/settings",
			"libs/mixins",
			
			/* CSS Reset and Global Styles */
			"libs/normalize",
			"libs/global",
			
			/* Reusable components */
			"libs/components",

			/* Bootstrap grid framework */
			"libs/bootstrap-grid/settings",
			"libs/bootstrap-grid/mixins",
			"libs/bootstrap-grid/grid",

			/* Layout styles */
			"layout/header",
			"layout/sidebar",
			"layout/content",
			"layout/footer";
			
